%% -*- mode: erlang -*-
%% ----------------------------------------------------------------------------
%% RabbitMQ Sample Configuration File.
%%
%% See http://www.rabbitmq.com/configure.html for details.
%% ----------------------------------------------------------------------------
[
  {rabbit, [
     {ssl_listeners, [5671]},
     {ssl_options, [{cacertfile,           "/home/ubuntu/testca/cacert.pem"},
                    {certfile,             "/home/ubuntu/tls/server/cert.pem"},
                    {keyfile,              "/home/ubuntu/tls/server/key.pem"},
                    {verify,               verify_peer},
                    {fail_if_no_peer_cert, false}]},
     {vm_memory_high_watermark, 0.7},
     {vm_memory_high_watermark_paging_ratio, 0.5},
     {hipe_compile, true}
   ]},
   {rabbitmq_management, [
      {listener, [{port,     15671},
                  {ssl,      true},
                  {ssl_opts, [{cacertfile, "/home/ubuntu/testca/cacert.pem"},
                              {certfile,   "/home/ubuntu/tls/server/cert.pem"},
                              {keyfile,    "/home/ubuntu/tls/server/key.pem"}]}]}
    ]}
].
